<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.UserDao">
    <!-- 前台：用户注册 -->
	<insert id="regist" parameterType="com.baizhi.entity.User">
		insert into dd_user values(#{id},#{email},#{password},#{salt},#{nickname},#{status},#{code,jdbcType=VARCHAR})
	</insert>
	<!-- 前台：登陆（根据邮箱查找用户是否存在） -->
	<select id="selectUserByEamil" parameterType="String" resultType="com.baizhi.entity.User">
		select id,email,password,salt,nickname,status,code from dd_user where email = #{email}
	</select>
	<!-- 前台：激活用户 -->
	<update id="activeUser">
		update dd_user set code=#{code} where id=#{id}
	</update>
	<!-- 后台：查询所有的用户 -->
	<select id="selectAllUser" resultType="com.baizhi.entity.User">
		select id,email,password,salt,nickname,status,code from dd_user
	</select>
	<!-- 后台：修改用户状态 -->
	<update id="updateUserStatus">
		update dd_user set 
				status = #{status}
		where email = #{email}
	</update>
</mapper>
